# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swap files
*.swp

# Symlinks
include/ef.gy
documentation/libefgy.tag

# Documentation
documentation/html
documentation/verthandi.tag
documentation/xml

# Binaries
verthandi
!include/verthandi

# Data Headers
include/verthandi/data-*.h
